.button{
    color: rgb(255, 255, 255);
    padding:0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    margin: 0 .1em;
    background-color: #000
}

.button:hover{
    color: #ffbb33;
    cursor: pointer;
}

.button:focus{
    color: #ffbb33;
    @apply border-orange-400 border-solid border
}